
<h2>Update Player</h2>

<!-- Update Player Form -->
<section>
    <form action="index" id="updatePlayer">
        <fieldset>
            <label for="gamertag">Gamertag:<br>
                <input type="text" name="gamertag" id="uGamertag" value="{{results.gamertag}}">
            </label>
            <br>

            <label for="Weapon">Reps:<br>
                <input type="text" name="weapon" id="uWeapon" value="{{results.weapon}}">
            </label>
            <br>

            <label for="specialist">Specialist:<br>
                <input type="text" name="specialist" id="uSpecialist" value="{{results.specialist}}">
            </label>
            <br>

            <label for="killCount">Kill Count:<br>
                <input type="text" name="killCount" id="uKillCount" value="{{results.killCount}}">
            </label>
            <br>

            <label for="deathCount">Death Count:<br>
                <input type="text" name="deathCount" id="uDeathCount" value="{{results.deathCount}}">
            </label>
            <br>

            <label for="wins">Wins:<br>
                <input type="text" name="wins" id="uWins" value="{{results.wins}}">
            </label>
            <br>

            <label for="losses">Losses:<br>
                <input type="text" name="losses" id="uLosses" value="{{results.losses}}">
            </label>
            <br>


            <input type="hidden" name="id" value={{results.id}}>
            <input type="submit" name="Update Player" value="Update Player" id="updatePlayerButton">
        </fieldset>

    </form>
</section>