
<h2>Update Player</h2>

<!-- Update Player Form -->
<section>
    <form action="/updateDone" id="updatePlayer">
        <fieldset>
            <label for="gamertag">Gamertag:<br>
                <input type="text" name="gamertag" id="uGamertag" value="{{results.gamertag}}">
            </label>
            <br>

            <!-- Weapon -->
            <label for="weapon">Weapon:</label>
            <select name="weapon" id="uWeapon" value="{{results.weapon}}">
                <option value="ICR-7">ICR-7</option>
                <option value="KN-57">KN-57</option>
                <option value="Rampart 17">Rampart 17</option>
                <option value="Vapr-XKG">Vapr-XKG</option>
                <option value="Maddox RFB">Maddox RFB</option>
                <option value="Swat RFT">Swat RFT</option>
                <option value="Hades">Hades</option>
                <option value="Titan">Titan</option>
                <option value="VKM 750">VKM 750</option>
                <option value="MX9">MX9</option>
                <option value="GKS">GKS</option>
                <option value="Spitfire">Spitfire</option>
                <option value="Cordite">Cordite</option>
                <option value="Saug 9mm">Saug 9mm</option>
                <option value="Daemon 3XB">Daemon 3XB</option>
                <option value="Auger DMR">Auger DMR</option>
                <option value="ABR 223">ABR 223</option>
                <option value="Swordfish">Swordfish</option>
                <option value="Paladin HB50">Paladin HB50</option>
                <option value="Outlaw">Outlaw</option>
                <option value="SDM">SDM</option>
                <option value="Koshka">Koshka</option>
                <option value="Mog 12">Mog 12</option>
                <option value="SG 12">SG 12</option>
                <option value="Strife">Strife</option>
                <option value="RK 7 Garrison">RK 7 Garrison</option>
                <option value="Mozu">Mozu</option>
                <option value="Hellion Salvo">Hellion Salvo</option>
                <option value="Combat Knife">Combat Knife</option>
                <option value="War Machine">War Machine</option>
                <option value="TAK-5">TAK-5</option>
            </select>
            <br>

            <!-- Speacialist -->
            <label for="specialist">Specialist:</label>
            <select name="specialist" id="uSpecialist" value="{{results.specialist}}">
                <option value="Battery">Battery</option>
                <option value="Crash">Crash</option>
                <option value="Firebreak">Firebreak</option>
                <option value="Nomad">Nomad</option>
                <option value="Prophet">Prophet</option>
                <option value="Ruin">Ruin</option>
                <option value="Seraph">Seraph</option>
                <option value="Ajax">Ajax</option>
                <option value="Crash">Crash</option>
                <option value="Recon">Recon</option>
                <option value="Torque">Torque</option>
            </select>
            <br>

            <!-- Map -->
            <label for="map">Map:</label>
            <select name="map" id="uMap" value="{{results.map}}">
                <option value="Arsenal">Arsenal</option>
                <option value="Contraband">Contraband</option>
                <option value="Firing Range">Firing Range</option>
                <option value="Freqency">Freqency</option>
                <option value="Blackout">Blackout</option>
                <option value="Nuketown">Nuketown</option>
                <option value="Firing Rang Night">Firing Rang Night</option>
                <option value="Madagascar">Madagascar</option>
            </select>
            <br>

            <label for="killCount">Kill Count:<br>
                <input type="number" name="killCount" id="uKillCount" value="{{results.killCount}}" min="0" max="100">
            </label>
            <br>

            <label for="deathCount">Death Count:<br>
                <input type="number" name="deathCount" id="uDeathCount" value="{{results.deathCount}}" min="0" max="100">
            </label>
            <br>

            <label for="wins">Wins:<br>
                <input type="number" name="wins" id="uWins" value="{{results.wins}}" min="0" max="100">
            </label>
            <br>

            <label for="losses">Losses:<br>
                <input type="number" name="losses" id="uLosses" value="{{results.losses}}" min="0" max="100">
            </label>
            <br>


            <input type="hidden" name="id" value={{results.id}}>
            <input type="submit" name="Update Player" value="Update Player" id="updatePlayerButton">
        </fieldset>

    </form>
</section>